.position-list {
  max-width: 500px; /* Adjust width as needed */
  margin: auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 1px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.position-list li {
  padding: 8px;
  border-bottom: 1px solid #e9ecef;
}

.hover :hover {
  padding: 8px;
  border-bottom: 1px solid #ff0000;
}

li {
  text-decoration: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px 20px;
  text-align: left;
}

.noDecoration,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none !important;
  color: inherit !important;
}
